.App > img{
 
   width: 100%;
  height: 61rem;
  left: 0px;
  top: -45px; 
  /* display: none; */
}

.fundo{
  filter:blur(3px);
  width: 100%;
  height: 64rem;
  left: 0px;
  top: -45px;
}
 .text{
  color:white !important;
  margin: 1px 50px ;
position: relative;
  width: 400px;
  height: 24px;
    /* bottom: 651px;  */
  font-family: 'B612';
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 24px;
text-transform: uppercase; 
margin-top:7rem;
margin-left:50rem;

}


 .loki{
  color: white ;
  margin:-40px 53rem;
  font-family: 'B612';
font-style: normal;
font-weight: 700;
font-size: 86px;
line-height: 17px;

right: 0;
top: 50%;
width: 8em;
margin-top: -10em;
}

.details img {
position: absolute;
  width: 250px;
  height: 350px;
  left: 350px;
  top: 410px;
}
.details p{
  position: absolute;
  width: 722px;
  height: 96px;
  left: 700px;
  top: 400px;
  
  font-family: 'B612';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  /* or 160% */  
  color:white;
}
.details > :nth-child(3){
  width:25px;
  height:20px;
  position: absolute;
  left: 40%;
  top: 80%;
  bottom: 41.67%;
  display:none;
}
.details > :nth-child(4){
  color: white;
  position: absolute;
width: 75px;
height: 29px;
left: 740px;
top: 565px;

font-family: 'B612';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
}

.details > :nth-child(6){
color: blue;
position: absolute;
width: 63px;
height: 200px;
left: 1145px;
top: 565px;

font-family: 'B612';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;

color: #FFFFFF;
}
.details button{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 15px 27px;
color: #FFFFFF;
position: absolute;
width: 184px;
height: 52px;
left: 700px;
top: 700px;
border: none;
background: #0072D2;
border-radius: 3px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 22px;
text-transform: uppercase;

}
.details .botao{
  left:56% !important;
  width: 115px;
height: 52px;
left: 7px;
top: 700px;
background: #131318;
border: 1px solid #FFFFFF;
box-sizing: border-box;
border-radius: 3px;
}
.star img{
  position: absolute;
  height:27px;
  width:31px;
 left: 47%;
 top:59%;
  bottom: 12.42%;
  
}

.star :nth-child(2){
 left:49%
}

.star :nth-child(3){
  left:51% !important;
  height:27px;
  width:31px;

 top: 59%;
 }

 .star :nth-child(4){
  left:53%
 }

 .star :nth-child(5){
  left:55%;
  top:72,2%;
filter:grayscale(100%); 
  
 }

